<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SITTA</title>
	<link rel="stylesheet" href="./css/style.css">
</head>

<body>
	<div id="app">
		<div :class="theme">
			<app-navigation-bar @on-theme="()=> theme = theme === 'dark' ? 'light' : 'dark'" @navigate="navigate" v-if="session"></app-navigation-bar>
			<main v-if="data">
				<component :is="path" :store="data" @navigate="navigate" @on-login-success="user=> session = user"></component>
			</main>
			<main v-else id="splashscreen" :class="theme">
				<h1>SITTA</h1>
				<span class="loading"></span>
			</main>
			<app-footer></app-footer>
		</div>
	</div>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="./js/utils/wait.js"></script>
	<script src="./data/bahan-ajar.js"></script>
	<!-- components -->
	<script src="./js/components/switcher.js"></script>
	<script src="./js/components/navigation-bar.js"></script>
	<script src="./js/components/footer.js"></script>
	<script src="./js/components/modal-forgot.js"></script>
	<script src="./js/components/modal-register.js"></script>
	<script src="./js/components/modal-create-tracking.js"></script>
	<!-- templates -->
	<script src="./templates/dashboard.js"></script>
	<script src="./templates/login.js"></script>
	<script src="./templates/stok-app.js"></script>
	<script src="./templates/tracking.js"></script>
	<!-- main -->
	<script src="./js/app.js"></script>
</body>

</html>